#Wrap {min-width:1200px;}

#header {}
#header h1 {text-align:center;padding:10px 0;}
#gnb {border-top:1px solid #ddd;border-bottom:1px solid #ddd;}
#gnb>ul {display:flex;justify-content:center;line-height:80px;}
#gnb>ul>li>a {display:block;padding:0 25px;}


#MainVIsual {position:relative;}
#MainVIsual figure img {width:100%;}
#MainVIsual .slogan {position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);text-align:center;color:#fff;width:1200px;padding:0 15px;}

#MainVIsual .slogan h2 {font-size:30px;font-weight:100;letter-spacing:0.5em;margin-bottom:20px;}
#MainVIsual .slogan p {font-weight:100;line-height:1.6;}

#Event {padding:150px 0;}
#Event h2 {text-align:center;margin-bottom:30px;font-size:30px;font-weight:100;}
#Event .container {display:flex;width:1200px;margin:0 auto;}
#Event .container figure {flex:1;padding:0 15px;}
#Event .container figure img {width:100%;}


#TabContent {padding:150px 0;background:#f7f7f7;}
#TabContent .container {width:1200px;margin:0 auto;}
#TabContent ul {display:flex;line-height:40px;margin-bottom:20px;}
#TabContent ul li {flex:1;text-align:center;background:#333;color:#fff;cursor:pointer;}
#TabContent ul li.oo {background:#f00;}
#TabContent ul li~li {border-left:1px solid #ddd;}
#TabContent .tab>div {display:none;}
#TabContent .tab>div.oo {display:block;}

#footer {padding:80px 0 120px 0;background:#333;color:#f2f2f2;text-align:center;}





